.landing-wrapper {
  background-color: #1a1a1a; /* Nền tối sang trọng */
  color: white;
  width: 80vw;
  min-height: 80vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.lp-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #252525;
}

.lp-logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #b3b3b3;
}

.lp-login-btn {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 8px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Hero Section */
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-text {
  flex: 1.5;
  min-width: 600px;
  text-align: left
}

.typing-title {
  font-size: 3.5rem;
  white-space: nowrap;
  line-height: 1.2;
  margin-bottom: 20px;
}

.orange-text {
  color: #ff8c00; 
}

.hero-subtext {
  font-size: 1.1rem;
  color: #b3b3b3;
  margin-bottom: 40px;
  max-width: 250px;
}
.lp-hero {
  background-color: #1a1a1a;
  width: 80%;
  min-height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-cta-btn {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.lp-cta-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 140, 0, 0.4);
}
